:root {
    --color-txt: #fff;
    --color-txt-secondary: #c2dbf5;
    --link-color: #2E86DE;
    --aside-color: #8ab9e9;
    --background-color: rgb(222, 255, 255);
    --header-color: rgb(194, 214, 233);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1920px;
}

/* sección general de pagina de chatbot */
.cabecera {
    position: fixed;
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
}

.menu-superior__enlace {
    color: var(--link-color);
    text-decoration: none;
    font-family: sans-serif;
}

.menu-superior__lista {
    margin-left: 0px;
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: center;
}

.menu-superior__enlace:hover {
    text-decoration: underline;
}

/* seccion de conversaciones */
.menu-lateral {
    padding-top: 100px;
    background-color: var(--aside-color);
}

.menu-lateral__lista {
    margin: 0 auto;
    list-style: none;
    padding-left: 0px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.menu-lateral__lista li {
    border-radius: 15px;
    background-color: var(--header-color);
    width: 100%;
    text-align: center;
}

.menu-lateral__lista li:hover {
    background-color: var(--link-color);
    color: var(--color-txt);
}

.menu-lateral__enlace {
    display: block;
    color: var(--link-color);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-lateral__enlace:hover {
    color: var(--color-txt);
}

.chatbot__chat {
    max-width: 940px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
}


.chatbot {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    background-color: var(--background-color);
}

.chatbot__form {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 20px;
}

.chatbot__cuadro-txt {
    margin: 0px;
    background-color: var(--header-color);
    border: none;
    border-radius: 40px;
    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    color: var(--color-txt);
    width: 90%;

}

.chatbot__cuadro-txt:focus {
    border: none;
    outline: none;
    background-color: var(--aside-color);
}

/* chat */

.chatbot__bloque {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    padding-right: 10px;
    height: 800px;
}

.chatbot__bloque::-webkit-scrollbar {
    display: none;
}

.chatbot__mensaje-user {
    width: 100%;
    display: flex;
    justify-content: end;
}

.chatbot__bocadillo {
    background-color: var(--link-color);
    border-radius: 20px;
    padding: 10px;
    font-family: sans-serif;
    color: var(--color-txt);
    max-width: 850px;
}

.chatbot__txt {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 900px;
    overflow-wrap: break-word;

}

.chatbot__hora {
    margin: 0px;
    font-size: 0.8rem;
    color: var(--color-txt-secondary);
    text-align: right;
}

.chatbot__enviar {
    background-color: var(--header-color);
    border: none;
    color: var(--color-txt);
    border-radius: 100px;
    padding: 15px;
}

.chatbot__cuadro-txt::placeholder {
    color: var(--color-txt);
}

.chatbot__enviar:hover {
    background-color: var(--link-color);
}

.chatbot__icon {
    font-size: 1.2rem;
}

.chatbot__txt-ia {
    background-color: var(--header-color);
    border-radius: 10px;
    padding: 10px;
    max-width: 750px;
}

.chatbot__parrafo-ia {
    font-family: sans-serif;
    margin: 0px;
}