body {
    font-family: sans-serif;
    background-color: rgb(222, 255, 255);
}

.cabecera {
    position: sticky;
    top: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cuadroCasos {
    width: 1200px;
    padding-top: 50px;
    display: flex;
    padding-bottom: 30px;
}

.dataTitle {
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.288);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.formMedico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cuadroForm {
    position: fixed;
    bottom: 80px;
    left: 0px;
    width: 1200px;
    display: flex;
    justify-content: right;
    padding-right: 40px;
}

.cuadroColorCasos {
    width: 1100px;
}

.textarea {
    resize: none;
    border: none;
    font-family: sans-serif;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

.hidden {
    display: none;
}

.cuadroForm {
    width: 100%;
}

.cuadroForm__color {
    width: 370px;
    height: 730px;
    border: none;
}

.valorarBtn {
    position: fixed;
    bottom: 30px;
    right: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.288);
    border: none;
    color: white;
    z-index: 20;

}

.valorarBtn:hover {
    background-color: rgba(0, 0, 255, 0.582);
}

.recargarBtn {
    position: fixed;
    bottom: 30px;
    right: 190px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 223, 130, 0.726);
    border: none;
    color: white;
    z-index: 20;
}

.recargarBtn:hover {
 background-color: rgba(0, 192, 112, 0.849);   
}

.radiusSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.radiusSection {
    background-color: rgb(194, 214, 233);
    border-radius: 10px;
    padding: 10px;
}

.labelRadius {
    font-weight: bold;
}

.submit {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.288);
    border: none;
    color: white;
    width: 100%;
    margin-top: 10px;
}

.submit:hover {
    background-color: rgba(0, 0, 255, 0.582);
}